<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find panda_ros_simulation)/urdf/macros.urdf.xacro" />
    <xacro:include filename="$(find panda_ros_simulation)/urdf/props.urdf.xacro" />


    <!-- macro which contains asseembled gripper -->

    <xacro:macro name="gripper_attach"
        params="
    arm_end_link_name
    gripper_hand_link_name
    finger_link1_name
    finger_link2_name
    ">

        <xacro:panda_joint parent="${arm_end_link_name}" child="${gripper_hand_link_name}"
            joint_name="arm_to_gripper_hand"
            joint_type="fixed" joint_origin_xyz="0 0 0"
            joint_origin_rpy="0 0 0" />

        <xacro:property name="joint_finger1_origin_xyz" value="0 0 0.0584" />
        <xacro:property name="joint_finger1_origin_rpy" value="0 0 0" />
        <xacro:property name="joint_finger1_axis_xyz" value="0 1 0" />
        <xacro:property name="joint_finger1_lower_limit" value="0" />
        <xacro:property name="joint_finger1_upper_limit" value="0.04" />
        <xacro:property name="joint_finger1_velocity_limit" value="0.2" />
        <xacro:property name="joint_finger1_torque_limit" value="20" />
        <xacro:property name="joint_finger1_damping" value="3.0" />
        <xacro:property name="joint_finger1_friction" value="0.4" />


        <xacro:property name="joint_finger2_origin_xyz" value="0 0 0.0584" />
        <xacro:property name="joint_finger2_origin_rpy" value="0 0 3.14" />
        <xacro:property name="joint_finger2_axis_xyz" value="0 -1 0" />
        <xacro:property name="joint_finger2_lower_limit" value="-0.04" />
        <xacro:property name="joint_finger2_upper_limit" value="0" />
        <xacro:property name="joint_finger2_velocity_limit" value="0.2" />
        <xacro:property name="joint_finger2_torque_limit" value="20" />
        <xacro:property name="joint_finger2_damping" value="3.0" />
        <xacro:property name="joint_finger2_friction" value="0.4" />


        <xacro:panda_joint parent="${gripper_hand_link_name}" child="${finger_link1_name}"
            joint_name="finger_joint1"
            joint_type="prismatic" joint_origin_xyz="${joint_finger1_origin_xyz}"
            joint_origin_rpy="${joint_finger1_origin_rpy}"
            joint_axis_xyz="${joint_finger1_axis_xyz}"
            joint_lower_limit="${joint_finger1_lower_limit}"
            joint_upper_limit="${joint_finger1_upper_limit}"
            joint_velocity_limit="${joint_finger1_velocity_limit}"
            joint_torque_limit="${joint_finger1_torque_limit}"
            joint_damping="${joint_finger1_damping}" joint_friction="${joint_finger1_friction}" />


        <xacro:panda_joint parent="${gripper_hand_link_name}" child="${finger_link2_name}"
            joint_name="finger_joint2"
            joint_type="prismatic" joint_origin_xyz="${joint_finger2_origin_xyz}"
            joint_origin_rpy="${joint_finger2_origin_rpy}"
            joint_axis_xyz="${joint_finger2_axis_xyz}"
            joint_lower_limit="${joint_finger2_lower_limit}"
            joint_upper_limit="${joint_finger2_upper_limit}"
            joint_velocity_limit="${joint_finger2_velocity_limit}"
            joint_torque_limit="${joint_finger2_torque_limit}"
            joint_damping="${joint_finger2_damping}" joint_friction="${joint_finger2_friction}" />

    </xacro:macro>
</robot>