<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find panda_ros_simulation)/urdf/macros.urdf.xacro" />
    <xacro:include filename="$(find panda_ros_simulation)/urdf/props.urdf.xacro" />


    <!-- macro which contains asseembled gripper -->
    <xacro:macro name="gripper_attach"
        params="
    arm_end_link_name
    gripper_hand_link_name
    finger_link1_name
    finger_link2_name
    ">

        <xacro:panda_joint parent="${arm_end_link_name}" child="${gripper_hand_link_name}"
            joint_name="arm_to_gripper_hand"
            joint_type="fixed" joint_origin_xyz="0 0 0"
            joint_origin_rpy="0 0 0" />
        
        <!-- ... (finger_joint1 definition is unchanged) ... -->
        <xacro:panda_joint parent="${gripper_hand_link_name}" child="${finger_link1_name}"
            joint_name="finger_joint1"
            joint_type="prismatic" joint_origin_xyz="0 0 0.0584"
            joint_origin_rpy="0 0 0"
            joint_axis_xyz="0 1 0"
            joint_lower_limit="0"
            joint_upper_limit="0.04"
            joint_velocity_limit="0.2"
            joint_torque_limit="20"
            joint_damping="3.0" joint_friction="0.4" />


        <!-- The mimic tag is correctly placed inside the macro call for finger_joint2 -->
        <xacro:panda_joint parent="${gripper_hand_link_name}" child="${finger_link2_name}"
            joint_name="finger_joint2"
            joint_type="prismatic" joint_origin_xyz="0 0 0.0584"
            joint_origin_rpy="0 0 3.14"
            joint_axis_xyz="0 -1 0"
            joint_lower_limit="-0.04"
            joint_upper_limit="0"
            joint_velocity_limit="0.2"
            joint_torque_limit="20"
            joint_damping="3.0" joint_friction="0.4">
            
            <!-- <mimic joint="finger_joint1" multiplier="-1" offset="0" /> -->

        </xacro:panda_joint>

    </xacro:macro>
</robot>
